* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Poppins", sans-serif;
}

.webgl {
  position: absolute;
  top: 0;
  left: 100;

  z-index: 1;
}

nav {
  color: white;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}

#title {
  font-weight: 600;
  font-size: 30px;
  background-image: radial-gradient(
    circle,
    #e3e3e3,
    #d7d7d8,
    #cbcccd,
    #c0c0c3,
    #b4b5b8,
    #a8a9ad
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media screen and (max-width: 768px) {
  nav {
    flex-wrap: wrap;
  }
}
